body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0043c;

}

header label {
    margin: 10px;
    cursor: pointer;
}

.logo {
    height: 2.5rem;
}

.botãoAbrir3linhas {
    width: 30px;

}

.openSideBar {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.openSideBar1 {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.banner {
    width: 100%;
    height: 750px;
}

.dark-mode {
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.dark-mode:hover {
    background: rgba(213, 211, 211, 0.77);
}

/* Sidebar Background */
.sidebar-background {
    display: none; /* Iniciar escondido */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fora da tela */
    background-color: #ffffff;
    padding-top: 20px;
    transition: left 0.3s ease; /* Transição suave para a propriedade left */
}

/* Outros estilos continuam os mesmos */

.sidebar h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
    color: white;
}

.sidebarBotao {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 10px; /* Reduz o espaço entre os itens */
}

.sidebarBotao  {
    border-bottom: 2px solid #d0043c;
}

.sidebarBotao img {
    width: 25px;
}

.novoFuncionario {
    border-radius: 20px;
    color: #000000;
    background: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.novoFuncionario:hover {
    background: #cac6c6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}

.tela-tabela {
    background-color: #fff;
    box-shadow: 10px 10px 20px #000000; 
    border-radius: 8px;
    overflow: hidden;
    width: 90%;


}

h1 {
    background-color: #ffffff;
    color: #d0043c;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid #d0043c;
}

.rolagem {
    max-height: 400px;
    overflow-y: auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela thead {
    background-color: #ffffff;
    color: #d0043c;
    position: sticky;
    top: 0;
    z-index: 10; /* Garante que o thead fique sobre as linhas */
}

.tabela thead th {
    padding: 12px 15px;
    text-align: left;
}

.tabela tbody tr:nth-child(even) {
    background-color: #f4f4f9;
}

.tabela tbody tr:hover {
    background-color: #e0e0e0;
}

.tabela tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;

}

.tabela td {
    word-wrap: break-word;  /* Permite a quebra de palavras longas */
    max-width: 150px;       /* Define um tamanho máximo para a célula, ajuste conforme necessário */
}

.tabela tbody tr:last-child td {
    border-bottom: none;
}

.editar-imagem {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.editar-imagem img {
    width: 2vw;
    display: block;
}

.editar-imagem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* Cor da linha */
    transition: width 0.3s ease;
}

.editar-imagem:hover::after {
    width: 100%; /* A linha vai ocupar a largura total do botão ao passar o mouse */
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}


.modalCadastro-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: auto;
    z-index: 1000;
    position: fixed;
    display: block;
    top: 0;
}

.modalCadastro {
    width: 50%;
    top: 0;
    left: 0;
    margin: 15% auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.modalCadastro h2 {
    margin-bottom: 30px;
}

.cadastro1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.cadastro1 label {
    font-size: 1.25rem;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;

}

.inputs {
    border-radius: 20px;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

#skills {
    border-radius: 20px;
    padding: 15px;
}

#cargoField {
    background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
}


.options-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    z-index: 1000;
    display: none;
}

.option-item {
    padding: 8px;
    cursor: pointer;
}

.option-item:hover {
    background-color: #f0f0f0;
}


.botoesModal {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-around;
}

.botao {
    border-radius: 20px;
    border-color:2px solid #000000 ;
    color: #000000;
    background: #ffffff;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

.botao:hover {
    background: #cac6c6;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}