body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #3c3c3c;
}

header {
    background-color: #3c3c3c;
    padding: 10px 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0043c;

}

header label {
    margin: 10px;
    cursor: pointer;
}

.logo {
    height: 2.5rem;
}

.pages {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

.pages a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.pages a:hover {
    background-color: rgba(255, 255, 255, 0.129);
}

.dark-mode {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #3c3c3c;
    padding: 10px;
    cursor: pointer;
}

.dark-mode:hover {
    background: rgba(213, 211, 211, 0.77);
}


.páginas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin: 60px auto;
    margin-bottom: 10px;
}

.página {
    font-family: 'Roboto', sans-serif; /* Ou 'Arial', 'Helvetica', 'Open Sans' */
    font-size: 1.5em;
    color: #fff;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid #fff;
    border-radius: 70px;
    padding: 20px;
}

.página h1 {
    margin-bottom: 15px;
}

.página p {
    font-family: 'Open Sans', sans-serif; /* Ou 'Roboto', 'Lato', 'Arial', 'Helvetica' */
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5;
}

.página img {

    width: 33%;

}

.página:first-child {
    margin-left: 30px;
}

.página:last-child {
    margin-right: 30px;
}



#perfil-home {
    margin-bottom: 80px;
}

.botãoHome {
    border-radius: 20px;
    background: #3c3c3c;
    color: #d0043c;
    border:2px solid #d0043c;
    padding: 10px;
    width: 190px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.botãoHome:hover {
    background-color: #575757;
}
.roleta-topicos {

    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding: 0px 150px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d0043c;
}

.roleta-topicos  label {
    color: #ffffff;    cursor: pointer;
}


#linha-animada {
    position: absolute;
    bottom: 10px;
    height: 3px;
    width: 0;
    background-color: #d0043c;
    transition: left 0.3s, width 0.3s;
}

.novoFuncionario {
    border-radius: 20px;
    color: #ffffff;
    background: #3c3c3c;
    font-size: 20px;
    cursor: pointer;
}

.novoFuncionario:hover {
    background: #cac6c6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}

.tela-tabela {
    background-color: #3c3c3c;
    border: 2px solid #fff; 
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    
}

h1 {
    background-color: #3c3c3c;
    color: #d0043c;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid #d0043c;
}

.rolagem {
    max-height: 400px;
    overflow-y: auto;
}

/* Para Firefox (ajustando a cor da barra de rolagem) */
.rolagem {
    scrollbar-width: auto; /* Largura da barra de rolagem no Firefox */
    scrollbar-color: #6a6a6a #3c3c3c; /* Cor do polegar e do trilho */
}


.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela thead {
    background-color: #3c3c3c;
    color: #d0043c;
    position: sticky;
    top: 0;
    z-index: 10; /* Garante que o thead fique sobre as linhas */
}

.tabela thead th {
    padding: 12px 15px;
    text-align: left;
}

.tabela tbody tr:nth-child(even) {
    background-color: #3c3c3c;
}

.tabela tbody tr:hover {
    background-color: #aca8a8;
}

.tabela tbody td {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;

}

.tabela td {
    word-wrap: break-word;  /* Permite a quebra de palavras longas */
    max-width: 150px;       /* Define um tamanho máximo para a célula, ajuste conforme necessário */
}

.tabela tbody tr:last-child td {
    border-bottom: none;
}

#filtroMatricula {
    background-color: #3c3c3c;
    color: #ffffff;
}

#filtroMatricula::placeholder {
    color: #d5d3d3;
}

.editar-imagem {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.editar-imagem img {
    width: 2vw;
    display: block;
}

.editar-imagem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* Cor da linha */
    transition: width 0.3s ease;
}

.editar-imagem:hover::after {
    width: 100%; /* A linha vai ocupar a largura total do botão ao passar o mouse */
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

@media (max-width: 1100px) {
    
    header {
        background-color: #3c3c3c   ;

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d0043c;
    
    }
    
    header label {
        margin: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .logo {
        height: 1.8rem;
    }
    
    .dark-mode {
        border: 1px solid #ffffff;
        color: #ffffff;
        background: #3c3c3c;
        padding: 10px;
        cursor: pointer;
        font-size: 10px;
    }
    
    .dark-mode:hover {
        background: rgba(213, 211, 211, 0.77);
    }

    .botãoAbrir3linhas {
        width: 30px;
    
    }
    
    .openSideBar {
        border: none;
        background-color: #3c3c3c;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .openSideBar1 {
        border: none;
        background-color: #3c3c3c;
        cursor: pointer;
        margin-right: 10px;
    }
    
    
    .banner {
        width: 100%;
        height: 65vh;
    }

    .páginas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 60px auto;
    }
    
    .página {
        font-family: 'Roboto', sans-serif; /* Ou 'Arial', 'Helvetica', 'Open Sans' */
        font-size: 1.5em;
        color: #ffffff;
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: 0px 0px 30px #000000, 0px 0px 30px #000000;
        border-radius: 70px;
        padding: 20px;
        margin-bottom: 50px;
    
    
    }
    
    .página h1 {
        margin-bottom: 15px;
    }
    
    .página p {
        font-family: 'Open Sans', sans-serif; /* Ou 'Roboto', 'Lato', 'Arial', 'Helvetica' */
        font-size: 1em;
        color: #ffffff;
        line-height: 1.5;
    }
    
    .página img {
    
        width: 33%;
    
    }
    
    .página:first-child {
        margin-left: 0px;
    }
    
    .página:last-child {
        margin-right: 0px;
    }
    
    
    
    #perfil-home {
        margin-bottom: 80px;
    }
    
    .botãoHome {
        border-radius: 20px;
        background: #d0043c;
        color: #ffffff;
        border: none;
        padding: 10px;
        width: 190px;
        font-size: 25px;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .roleta-topicos {
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 23px;
        padding: 0px 100px;
        padding-bottom: 20px;
        border-bottom: 2px solid #d0043c;
    }
    
    .roleta-topicos  label {
        cursor: pointer;
    }
    
    #linha-animada {
        position: absolute;
        bottom: 10px;
        height: 3px;
        width: 0;
        background-color: #d0043c;
        transition: left 0.3s, width 0.3s;
    }
}

@media (max-width: 450px) {
    
    .roleta-topicos {
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        padding: 0px 50px;
        padding-bottom: 20px;
        border-bottom: 2px solid #d0043c;
    }
    
}