body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0043c;

}

header label {
    margin: 10px;
    cursor: pointer;
}

.logo {
    height: 2.5rem;
}

.botãoAbrir3linhas {
    width: 30px;

}

.openSideBar {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.openSideBar1 {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.banner {
    width: 100%;
    height: 650px;
}

.dark-mode {
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.dark-mode:hover {
    background: rgba(213, 211, 211, 0.77);
}


/* Sidebar Background */
.sidebar-background {
    display: none; /* Iniciar escondido */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fora da tela */
    background-color: #ffffff;
    padding-top: 20px;
    transition: left 0.3s ease; /* Transição suave para a propriedade left */
}

/* Outros estilos continuam os mesmos */


.sidebar h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
    color: white;
}

.sidebarBotao {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 10px; /* Reduz o espaço entre os itens */
}

.sidebarBotao  {
    border-bottom: 2px solid #d0043c;
}

.sidebarBotao img {
    width: 25px;
}

.páginas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.página {
    font-family: 'Roboto', sans-serif; /* Ou 'Arial', 'Helvetica', 'Open Sans' */
    font-size: 1.5em;
    color: #333;
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.página h1 {
    margin-bottom: 15px;
}

.página p {
    font-family: 'Open Sans', sans-serif; /* Ou 'Roboto', 'Lato', 'Arial', 'Helvetica' */
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

.página img {

    width: 33%;

}

.página::after {
    content: '';
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    right: 0;
    transform: translateY(-85%); /* Centraliza verticalmente a borda */
    height: 200px; /* Ajuste conforme necessário */
    width: 2px;
    background-color: #a8a7a7;
    margin: 0px 0px;
}

#perfil-home {
    margin-bottom: 80px;
}

.botãoHome {
    border-radius: 20px;
    background: #d0043c;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 140px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}