<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos - Descrição</title>
    {% load static %}
    <!-- o css está com o ID para realizar a alteração de Tema -->
    <link id="css" rel="stylesheet" href="{% static 'Funcionarios Desc/Light Mode/light.css' %}">
</head>
<body>


<header>
    <nav>
        <!-- Logo da Brose -->
        <a href="{% url 'funcionario' %}">
            <img src="{% static 'Cursos/Brose_logo.png' %}" alt="Brose Logo" class="logo">
        </a>
    </nav>

    <div class="pages">
        <a id="Cursos-sideBar" href="{% url 'cursos' %}">Cursos</a>
        <a id="Cargos-sideBar" href="{% url 'cargos' %}">Cargos</a>
        <a id="Perfil-sideBar" href="{% url 'funcionario' %}">Funcionários</a>
        <a id="Form-sideBar" href="{% url 'formulario' %}">Formulário</a>
    </div>

    <nav>
        <!-- Linguagens disponíveis do site -->
        <label>PT</label>
        <label>EN</label>
        <label>GR</label>
        <!-- Botão que altera o tema com base no ID do css-->
        <button id="botão-dark" onclick="darkMode()" class="dark-mode">Alterar Tema</button>
    </nav>

</header>

<main>
    <div class="container">
        <div class="cabecalho">
            <h1> Nome do Funcionário</h1>
            <div class="botoes">
                <button class="botao" title="Editar Funcionário" onclick="toggleEdit()"><img src="{% static 'Funcionarios Desc/Light Mode/user-avatar preto.png' %}" alt="Editar Funcionário"></button>
                <button class="botao" title="Cancelar" onclick="cancelEdit()" style="display: none;">
                    <img src="{% static 'Funcionarios Desc/cancelar.png' %}" alt="Cancelar">
                </button>
                <button class="botao" title="Excluir Funcionário"><img src="{% static 'Funcionarios Desc/Light Mode/delete.png' %}" alt="Excluir Funcionário"></button>
            </div>
        </div>

        <div class="infos">
            <div class="duplas">
                <strong>Matrícula:</strong>
                <label id="matricula">1</label>
                <input type="text" id="edit-matricula" value="1" style="display: none;">
            </div>
            <div class="duplas">
                <strong>Cargo:</strong>
                <label id="cargo">T.I</label>
                <input type="text" id="edit-cargo" value="T.I" style="display: none;">
            </div>
            <div class="duplas">
                <strong>Idade:</strong>
                <label id="idade">20</label>
                <input type="number" id="edit-idade" value="20" style="display: none;">
            </div>
        </div>
        

        <h2>Cursos/Skills:</h2>
        <p id="skills">Tenho SENAI</p>
        <textarea id="edit-skills" style="display: none;">Tenho SENAI</textarea>
        

    </div>


</main>



<script src="{% static 'Funcionarios Desc/script.js' %}"></script>

</body>
</html>