<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    {% load static %}
    <link id="css" rel="stylesheet" href="{% static 'Funcionarios/Light Mode/light.css' %}">
</head>

<header>
    <nav>
        <a href="{% url 'funcionario' %}">
            <img src="{% static 'Cursos/Brose_logo.png' %}" alt="Brose Logo" class="logo">
        </a>
    </nav>

    <div class="pages">
        <a id="Cursos-sideBar" href="{% url 'cursos' %}">Cursos</a>
        <a id="Cargos-sideBar" href="{% url 'cargos' %}">Cargos</a>
        <a id="Perfil-sideBar" href="{% url 'funcionario' %}">Funcionários</a>
    </div>

    <nav>
        <label>PT</label>
        <label>EN</label>
        <label>GR</label>
        <button id="botão-dark" onclick="darkMode()" class="dark-mode">Alterar Tema</button>
    </nav>
</header>

<main>
    <div class="tela-tabela">
        <h1>Funcionários</h1>

        <!-- Botão para abrir o modal de novo funcionário -->
        <button onclick="abrirModal()" class="novoFuncionario">Novo Funcionário</button>

        <div class="rolagem">
            <table class="tabela" id="tabelaFuncionarios">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Data de Contratação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.cargo }}</td>
                        <td>{{ funcionario.data_contratacao }}</td>
                        <td>{{ funcionario.skill }}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="abrirModalEdicao('{{ funcionario.id }}', '{{ funcionario.nome }}', '{{ funcionario.cargo }}', '{{ funcionario.data_contratacao }}')">Editar</a> |
                            <a href="{% url 'deletar_funcionario' funcionario.id %}">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Modal para criar um novo funcionário -->
<div id="modalNovoFuncionario" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="fecharModal()">&times;</span>
        <h2>Criar Novo Funcionário</h2>

        <form method="POST" action="{% url 'criar_funcionario' %}">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required>

            <label for="data_contratacao">Data de Contratação:</label>
            <input type="date" id="data_contratacao" name="data_contratacao" required>
            
            <label for="skill">skill:</label>
            <input type="text" id="skill" name="skill" required>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

<div id="modalEditarFuncionario" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="fecharModalEdicao()">&times;</span>
        <h2>Editar Funcionário</h2>

        <form method="POST" id="formEditarFuncionario">
            {% csrf_token %}
            <label for="nomeEditar">Nome:</label>
            <input type="text" id="nomeEditar" name="nome" required>

            <label for="cargoEditar">Cargo:</label>
            <input type="text" id="cargoEditar" name="cargo" required>

            <label for="dataContratacaoEditar">Data de Contratação:</label>
            <input type="date" id="dataContratacaoEditar" name="data_contratacao" required>
            
            <label for="skilloEditar">Skill:</label>
            <input type="date" id="skillEditar" name="skill" required>

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</div>


<script src="{% static 'Funcionarios/script.js' %}"></script>
