<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    {% load static %}
    <!-- o css está com o ID para realizar a alteração de Tema -->
    <link id="css" rel="stylesheet" href="{% static 'Funcionarios/Light Mode/light.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

</head>

<header>
    <nav>
        <!-- Aqui está o botão para abrir a side bar, juntamente com a função para abrir o mesmo -->
        <button onclick="abrirOuFecharSideBar()" class="openSideBar"><img class="botãoAbrir3linhas"
                src="{% static 'IMAGENS IGUAIS/Light Mode/3 linhas preto.png' %}" alt="3 linhas"></button>
        <!-- Logo da Brose -->
        <a href="{% url 'home_page' %}">
            <img src="{% static 'IMAGENS IGUAIS/Brose_logo.png' %}" alt="Brose Logo" class="logo">
        </a>
    </nav>

    <nav>
        <!-- Linguagens disponíveis do site -->
        <label>PT</label>
        <label>EN</label>
        <label>GR</label>
        <!-- Botão que altera o tema com base no ID do css-->
        <button id="botão-dark" onclick="darkMode()" class="dark-mode">Alterar Tema</button>
    </nav>

</header>


<main>

    <div class="tela-tabela">
        <h1>Tabela de Funcionários</h1>

        <div class="filtros">
            <input type="text" id="filtroMatricula" placeholder="Filtrar por matrícula..." onkeyup="filtrarMatricula()">
            <button class="novoFuncionario" onclick="abrirOuFecharModal()"> Novo Funcionário </button>
            <input type="text" id="filtro" placeholder="Filtrar por nome, idade ou cargo..." onkeyup="filtrarTabela()">
        </div>
        <div class="rolagem">
            <table class="tabela" id="tabelaFuncionarios">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Gabriel</td>
                        <td>1</td>
                        <td>China Number One</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>JEÃO</td>
                        <td>21</td>
                        <td>Roubar</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Lucão</td>
                        <td>20</td>
                        <td>VHSEXO</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>MANO CLEI</td>
                        <td>17</td>
                        <td>TOMO</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Eduardo Nogaroto</td>
                        <td>20</td>
                        <td>FAZ TUDO</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Pedrão</td>
                        <td>20</td>
                        <td>Paysandu Men</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Emerson Filho</td>
                        <td>19</td>
                        <td>É O HOMI</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Maria Wongs</td>
                        <td>22</td>
                        <td>UCRANIA PIU PIU</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Vini Boy</td>
                        <td>22</td>
                        <td>Doutor Sexo</td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>

</main>

<div class="botoes">
    <button class="botao" onclick="PDF()"> Exportar como PDF </button>
    <button class="botao" onclick="CSV()"> Exportar como Excel </button>
    <button class="botao" onclick="IMPRIMIR()"> Imprimir </button>
</div>

<div class="sidebar-background" style="display: none;">
    <div class="sidebar">
        <div class="sidebarBotao">
            <h2 id="Menu-sideBar">Menu</h2>
            <!-- Botão para fechar a SideBar -->
            <button class="openSideBar1" onclick="abrirOuFecharSideBar()"><img class="botãoAbrir3linhas"
                    src="{% static 'IMAGENS IGUAIS/Light Mode/3 linhas preto.png' %}" alt="3 linhas"></button>
        </div>
        <!-- Botões para ir para a página respectiva -->
        <a id="Home-sideBar" href="{% url 'home_page' %}">Home</a>
        <a id="Cursos-sideBar" href="{% url 'cursos' %}">Cursos</a>
        <a id="Cargos-sideBar" href="{% url 'cargos' %}">Cargos</a>
        <a id="Perfil-sideBar" href="{% url 'funcionario' %}">Funcionários</a>
    </div>
</div>

<div class="modalCadastro-background" style="display: none;">
    <div class="modalCadastro">
        <h2>Cadastro de Funcionários</h2>
        <div class="cadastro1">

            <label>Matrícula</label>
            <input type="text" class="inputs" id="matricula" placeholder="Digite a matrícula do novo colaborador">

            <label>Nome</label>
            <input type="text" class="inputs" id="Nome" placeholder="Digite o nome do novo colaborador">

            <label>Idade</label>
            <input type="text" class="inputs" id="Idade" placeholder="Digite a idade do colaborador">

            <label>Cargo</label>
            <input type="text" class="inputs" id="Cargo" placeholder="Digite o cargo do colaborador">

            <label>Skills</label>
            <textarea id="skills"></textarea>

            <div class="botoesModal">
                <button class="botao"> Confirmar </button>
                <button class="botao" onclick="abrirOuFecharModal()"> Fechar</button>
            </div>

        </div>

    </div>

</div>

<script src="{% static 'Funcionarios/script.js' %}"></script>