<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brose</title>
    {% load static %}
    <link id="css" rel="stylesheet" href="{% static 'LOGIN/light/light.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'LOGIN/Brose_logo.png' %}" alt="Brose Logo" class="logo">
        </nav>

        <nav>
            <label>PT</label>
            <label>EN</label>
            <label>GR</label>
            <button id="botão-dark" class="dark-mode">Modo Claro</button>
        </nav>

    </header>

    <main>

        <div class="login-espaço">
            <div class="brose-login">
                <img id="logo-login" src="{% static 'LOGIN/Brose_Logo_Nova.png' %}" alt="Brose_login_cadeado">
            </div>

            <div class="inputs-login">
                <label for="username" id="username-label">Usuário</label>
                <input type="text" id="username">

                <label for="senha" id="senha-label">Senha</label>
                <input type="text" id="senha">
                <label id="F-senha">Esqueceu a senha?</label>

            </div>

            <div class="login-confirmar-butao">
                <button class="botao-login">Entrar</button>

            </div>
        </div>

    </main>

    <script src="{% static 'LOGIN/script.js' %}"></script>

</body>
</html>
