body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #3c3c3c;
    width: 100%;
    height: auto;
}



header {
    background-color: #3c3c3c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0043c;
    color: #ffffff;

}

header label {
    margin: 10px;
    cursor: pointer;
}

.logo {
    height: 2.5rem;
}

.pages {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

.pages a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.pages a:hover {
    background-color: rgba(255, 255, 255, 0.129);
}

.dark-mode {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #3c3c3c;
    padding: 10px;
    cursor: pointer;
}

.dark-mode:hover {
    background: rgba(213, 211, 211, 0.77);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #fff;
    width: 60%;
    margin: 10% auto;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff;
}

.container h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.container p {
    word-wrap: break-word;
    max-width: 1000px;
    font-size: 20px;
}

.container input {
    padding: 5px;
    border-radius: 20px;
}

.container textarea {
    border-radius: 20px;
    padding: 15px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;  
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #d0043c;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao {
    padding: 15px;
    background-color: #3c3c3c;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.botao img {
    width: 30px;
}

@media (max-width: 768px) {
    
    header {
        background-color: #3c3c3c   ;

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d0043c;
    
    }
    
    header label {
        margin: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .logo {
        height: 1.8rem;
    }
    
    .dark-mode {
        border: 1px solid #ffffff;
        color: #ffffff;
        background: #3c3c3c;
        padding: 10px;
        cursor: pointer;
        font-size: 10px;
    }
    
    .dark-mode:hover {
        background: rgba(213, 211, 211, 0.77);
    }

    .botãoAbrir3linhas {
        width: 30px;
    
    }
    
    .openSideBar {
        border: none;
        background-color: #3c3c3c;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .openSideBar1 {
        border: none;
        background-color: #3c3c3c;
        cursor: pointer;
        margin-right: 10px;
    }
    
    
 
}

@media (max-width: 480px) {
    
    h1 {
        font-size: 20px;
    }

    .botao {
        padding: 10px;
        width: 40px;
    }

    .botao img {
        width: 20px;
    }
}